<div {{ attributes }}>
    Generating a number between 0 and 1000
    <strong>{{ this.randomNumber }}</strong>

    <button
        data-action="live#$render"
    >Generate a new number!</button>
</div>
